.ocultar{
    display:none;
}
.mostrar{
    display: block;
}
.boton{
    display: flex;
    justify-content: flex-end;
}
.boton-carrito{
border: 2px solid rgb(126, 126, 11);
}


body{
    background-image: url(https://i.pinimg.com/474x/da/44/a2/da44a2a408497a0ce010431734a49288--motocross-bikes-motorcross.jpg);
color: #111111;
background-repeat: no-repeat;
background-attachment: fixed;
background-size: cover;


}
#Formulario{
    background-color: rgb(238, 227, 240);
    padding: 20px;
    width: 200px;
    text-align: center;
    margin: auto;
}
form{
    display: inline-block;
    margin: 15px 10px;
    padding: 8px;
    border-radius: 30px;
    text-transform: uppercase;
    background-color: rgb(21, 141, 73);
    color: rgb(12, 12, 12);
    transform: all 1300ms;
    box-shadow: 0px 0px 40px rgb(147, 23, 185) inset;

  
}
.input:hover{
    opacity: 0.8;
    color: rgb(14, 13, 13);
    background-color: rgb(216, 169, 83);

}

.producto{
    text-align: center;
    margin: 5px;
    padding: 20px;
    width: 300px;
    height: 300px;
    font-size: 18px;
    border-radius: 250px;
   border:  2px solid rgba(88, 87, 87, 0.178);
   margin-bottom: 18px;
   background-color: rgb(251, 252, 251);
   

}
.resultado{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.img{
width: 50px;
height: 50px;
}


